{% extends "django_registration/base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}

{% block meta %}
<meta charset="utf-8">
<meta name="description" content="Log In into your account in order to be able to like and comment in articles and also participate in discussions with the community.">
<link rel="canonical" href="https://www.techeleza.com/accounts/login/?next=/accounts/login">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Log In to TechEleza">
<meta property="og:description" content="Log In into your account in order to be able to like and comment in articles and also participate in discussions with the community.">
<meta property="og:url" content="https://www.techeleza.com/accounts/login/?next=/accounts/login">
<meta property="og:site_name" content="TechEleza">
<meta property="og:image" content="">
<meta property="og:image:secure_url" content="">
{% endblock %}

{% block title %}
<title>Log In to Techeleza</title>
{% endblock %}

{% block content %}
<div class="container-fluid">
  <br><br><br><br>
  <div class="row">
    <div class="container-fluid">

      <div class="col-md-4"></div>
      <div class="col-md-4">
        {% if form.errors %}
        <p>Password or Username is Incorrect</p>
        {% endif %}

        {% if  user.is_authenticated %}
        <div class=""></div>
        {% else %}
        <div class="alert">
          <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
          <h4>Please <a href="/accounts/login/?next=/accounts/login"><strong>Sign in/Sign Up</strong></a> so that you can be able to ask any Tech questions, start a Tech Topic, Comment/Like on other peoples Topics and Posts and be able to access your Profile. </h4>
        </div>
        {% endif %}
        <!-- Alert End -->
        
        <div class="panel panel-default">
          <div class="panel-heading">
            <h3 class="text-center">Sign In</h3>
          </div>
          <div class="panel-body">
            <div class="row">
              <div class="container-fluid">
                <div class="col-xs-12">
                  <a href="{% url 'socialauth:begin' 'google-oauth2' %}">
                  <button style="" type="button" class="btn btn-md btn-default" name="button">

                    <svg aria-hidden="true" class="svg-icon native iconGoogle" width="18" height="18" viewBox="0 0 18 18">
                      <g><path d="M16.51 8H8.98v3h4.3c-.18 1-.74 1.48-1.6 2.04v2.01h2.6a7.8 7.8 0 0 0 2.38-5.88c0-.57-.05-.66-.15-1.18z" fill="#4285F4"></path>
                        <path d="M8.98 17c2.16 0 3.97-.72 5.3-1.94l-2.6-2a4.8 4.8 0 0 1-7.18-2.54H1.83v2.07A8 8 0 0 0 8.98 17z" fill="#34A853"></path>
                        <path d="M4.5 10.52a4.8 4.8 0 0 1 0-3.04V5.41H1.83a8 8 0 0 0 0 7.18l2.67-2.07z" fill="#FBBC05"></path>
                        <path d="M8.98 4.18c1.17 0 2.23.4 3.06 1.2l2.3-2.3A8 8 0 0 0 1.83 5.4L4.5 7.49a4.77 4.77 0 0 1 4.48-3.3z" fill="#EA4335"></path>
                      </g>
                    </svg>

                    <span style="padding-left: 50px;">Login with  <strong>Google</strong></span>

                  </button></a>
                </div>
              </div>
              <!-- <div class="col-xs-2"></div> -->

              <!-- <div class="col-xs-2"></div> -->
              <!-- <div class="col-xs-6">
                <a href="{% url 'socialauth:begin' 'facebook' %}">
                <button type="button" class="btn btn-md btn-primary" name="button">Login with Facebook</button>
              </a>
              </div> -->
            </div>

            <br>

            <form action="/accounts/login/" method="post">
              {% csrf_token %}
              {% bootstrap_form form %}
              <div class="form-group">
                <input type="submit" action="{% url 'login' %}" class="btn btn-primary btn-sm" value="Login">

                <a style="padding-left: 180px;" href="/accounts/register/">
                  <button type="button" class="btn btn-sm btn-primary" name="button">Sign Up</button>
                </a>

                <!-- <p><a href="{% url 'password_reset' %}">Lost password?</a></p> -->
              </div>
              <input type="hidden" name="next" href="" value="{{next}}">
            </form>

          </div>
        </div>
      </div>
      <div class="col-md-4"></div>

    </div>

  </div>
</div>
{% endblock %}
