{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="{{user}}'s Profile in where you can start a Discussion or edit your profile, also you can see your articles, likes and comments">
    <link rel="canonical" href="https://www.techeleza.com/accounts/profile/">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{user}}'s Profile | TechEleza">
    <meta property="og:description" content="{{user}}'s Profile in where you can start a Discussion or edit your profile, also you can see your articles, likes and comments.">
    <meta property="og:url" content="https://www.techeleza.com/accounts/profile/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    {% endblock %}

    {% block title %}
    <title>{{user}}'s Profile</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <div class="container-fluid">
      <div class=" coverphoto row" style="margin-top: 55px; padding-top: 20px; padding-bottom: auto; background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%); ">
        <div class="container-fluid">
          <div class="row">
            <div class="col-xs-1"></div>
            <div class="col-xs-5">
              {% avatar user 100 class="img-circle img-responsive" id="user_avatar" %}
            </div>
            <div class="col-xs-6">
              <br>
              {% if user == request.user %}
              <div class="col-sm-3"></div>
              <div class="col-sm-12">
                <a href="{% url 'newarticle' %}"> <button type="button" class="btn btn-sm btn-primary" name="button">Start a Discussion</button></a>
                <a href="{% url 'editprofile' %}"> <button type="button" class="btn btn-sm btn-primary" name="button">Edit Profile</button></a>
              </div>
              {% endif %}
            </div>
          </div>
        </div>
      </div>
        <br>

        <div class="row">
          <div style="margin-left: 50px;" class="col-sm-3">
            <h3>{{user}}</h3>
            <h4>{{user.first_name}} {{user.last_name}}</h4>
            <h4>{{user.email}}</h4>
            <h4>{{user.userprofile.description}}</h4>
            <h4>{{user.userprofile.phone}}</h4>
            <h4>{{user.userprofile.city}}</h4>
           <a href="{{user.userprofile.website}}"><h4>{{user.userprofile.website}}</h4></a>
          </div>
          <div class="col-sm-6">
            <br><br>
            <div style="margin-left: 20px;" class="tab">
              <button class="tablinks" id="defaultOpen" onclick="openCity(event, 'Articles')">Articles</button>
              <button class="tablinks" onclick="openCity(event, 'Comments')">Comments</button>
              <button class="tablinks" onclick="openCity(event, 'Likes')">Likes</button>
            </div>

            <div class="row">
              <br><br>
            </div><br>

            <div id="Articles" class="tabcontent">
              <div class="panel panel-success">
                <div class="panel-heading">
                  <h2>Articles</h2>
                </div>
                <div class="panel-body">
                  {% for article in article_pages %}
                  <h3>  <a style="color: black;" href="{% url 'readarticle' pk=article.pk %}">{{article.title}} </h3>
                  <!-- <p>{{article.post|truncatechars:50|safe}}</p> -->
                  <div class="col-xs-4">
                    <p><i style="color: darkred;"  class="glyphicon glyphicon-heart"></i> <br> {{article.total_likes}} Like{{ article.total_likes|pluralize }}</p>
                  </div>
                  <div class="col-xs-4">
                    <p>{{comments.article}}</p>
                  </div>
                  <div class="col-xs-4">

                  </div>
                  <p style="color: darkred;">Posted on: {{article.pub_date}}</p></a>
                  <hr>
                  {% endfor %}

                  {% if article_pages.has_other_pages %}
                    <ul class="pagination">
                      {% if article_pages.has_previous %}
                        <li><a href="?page={{ article_pages.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in article_pages.paginator.page_range %}
                        {% if article_pages.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > article_pages.number|add:'-3' and i < article_pages.number|add:'4' %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if article_pages.has_next %}
                        <li><a href="?page={{ article_pages.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}
                </div>
              </div>
            </div>

            <div id="Comments" class="tabcontent">
              <div class="panel panel-info">
                <div class="panel-heading">
                  <h2>Comments</h2>
                </div>
                <div class="panel-body">
                  {% for comment in comment_pages %}
                  <h3>  <a style="color: black;" href="{% url 'readarticle' pk=comment.post.pk  %} #comment">{{comment.content}} </h3>
                  <p style="color: darkred;">Posted on: {{comment.timestamp}}</p></a>
                  <hr>
                  {% endfor %}

                  {% if comment_pages.has_other_pages %}
                    <ul class="pagination">
                      {% if comment_pages.has_previous %}
                        <li><a href="?page={{ comment_pages.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in comment_pages.paginator.page_range %}
                        {% if comment_pages.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > comment_pages.number|add:'-3' and i < comment_pages.number|add:'4' %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if comment_pages.has_next %}
                        <li><a href="?page={{ comment_pages.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}

                </div>
              </div>
            </div>

            <div id="Likes" class="tabcontent">
              <div class="panel panel-danger">
                <div class="panel-heading">
                  <h2>Likes</h2>
                </div>
                <div class="panel-body">
                  {% for like in like_pages %}
                  <a style="color: black;" href="{% url 'readarticle' pk=like.pk %} #like-section">
                  <h3>{{like.title}}</h3>
                  <p style="color: darkred;">Posted on: {{like.pub_date}}</p>
                  </a>
                  {% endfor %}

                  {% if like_pages.has_other_pages %}
                    <ul class="pagination">
                      {% if like_pages.has_previous %}
                        <li><a href="?page={{ like_pages.previous_page_number }}">&laquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&laquo;</span></li>
                      {% endif %}
                      {% for i in like_pages.paginator.page_range %}
                        {% if like_pages.number == i %}
                          <li class="active"><span>{{ i }} <span class="sr-only">(current)</span></span></li>
                        {% elif i > like_pages.number|add:'-3' and i < like_pages.number|add:'4' %}
                          <li><a href="?page={{ i }}">{{ i }}</a></li>
                        {% endif %}
                      {% endfor %}
                      {% if like_pages.has_next %}
                        <li><a href="?page={{ like_pages.next_page_number }}">&raquo;</a></li>
                      {% else %}
                        <li class="disabled"><span>&raquo;</span></li>
                      {% endif %}
                    </ul>
                  {% endif %}

                </div>
              </div>
          </div>

        </div>

      </div>

    {% endblock %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    {% bootstrap_javascript %}
    {% endblock %}

  </body>
</html>
