{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}

{% block meta %}
<meta charset="utf-8">
<meta name="description" content="Congratulations on creating an account.">
<link rel="canonical" href="https://www.techeleza.com/accounts/register/complete">
<meta property="og:locale" content="en_US">
<meta property="og:type" content="website">
<meta property="og:title" content="Sign Up to TechEleza">
<meta property="og:description" content="Congratulations on creating an account">
<meta property="og:url" content="https://www.techeleza.com/accounts/register/complete">
<meta property="og:site_name" content="TechEleza">
<meta property="og:image" content="">
<meta property="og:image:secure_url" content="">
{% endblock %}

{% block title %}
<title>Congrats on creating an account</title>
{% endblock %}

{% block content %}
<br><br><br>
  <div class="card">
    <div class="card-header">
      <h1 class="text-dark text-center">Registration Successful</h1>
    </div>
    <div class=" text-center card-body">

      <h4>Congratulations you created your account.</h4>
      <br>
      <a href="{% url 'devices' %}">
      <button type="button" class="btn btn-lg btn-success" name="button">Go To Home</button></a>
      <br><br>
      <h4 class="text-dark">Enjoy the Best of cutting edge reviews, Discussions, News and enjoy many more features.</h4>
      <br>
      <br>
    </div>
    <div class="card-footer">
      <h3 class="text-dark text-center"> Congratulations </h3>
    </div>
  </div>
{% endblock %}
