{% extends "django_registration/base.html" %}
{% load bootstrap3 %}
{% block content %}
<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">

      {% if form.errors %}
      <p>Some Information Might be Incorrect</p>
      {% endif %}

      <div class="panel panel-default">
        <div class="panel-heading">
          <h3 class="text-center">Sign Up</h3>
        </div>
        <div class="panel-body">
          <div class="row">
            <div class="col-xs-6">
              <a href="{% url 'socialauth:begin' 'google-oauth2' %}">
              <button type="button" class="btn btn-md btn-danger" name="button"> Sign Up with Google</button></a> <br>
            </div>
            <div class="col-xs-6">
              <a href="{% url 'socialauth:begin' 'facebook' %}">
              <button type="button" class="btn btn-md btn-primary" name="button">Sign Up with Facebook</button>
            </a>
            </div>
          </div>

          <br>
          <p><strong>-- OR --</strong> Create an account</p>
          <br>

          <form action="/accounts/register/" method="post">
            {% csrf_token %}
            {% bootstrap_form form %}
            <div class="form-group">
              <input type="submit" class="btn btn-primary btn-sm" value="Sign Up">
            </div>
            <input type="hidden" name="next" value="{{next}}">
          </form>
        </div>
      </div>

    </div>
    <div class="col-md-4"></div>
  </div>
</div>
{% endblock %}
