{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block Analytics %}
        <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-132742670-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-132742670-1');
    </script>
    {% endblock %}

    {% block adsense %}

    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="theme-color" content="rgba(21, 30, 39, 1)">
    <meta name="msapplication-TileColor" content="rgba(21, 30, 39, 1)">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="rgba(21, 30, 39, 1)">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="shortcut icon" href=" {% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    {% endblock %}

    {% block title %}
    <title>Home</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

    {% include "index/navbar.html" %}

  </head>
  <body>

    {% block content %}

    {% endblock %}


    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/search_ajax.js' %}"></script>

    {% endblock %}

  </body>
</html>
