{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="keywords" itemprop="keywords" content="{{newsarticle.keywords}}" ng-attr-content="{{newsarticle.keywords}}">
    <meta name="description" content="{{newsarticle.description}}">
    <link rel="canonical" href="https://www.techeleza.com/news/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{newsarticle.title}}">
    <meta property="og:description" content="{{newsarticle.description}}">
    <meta property="og:url" content="https://www.techeleza.com/news/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    {% endblock %}

    {% block title %}
    <title>{{article.title|safe}}</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <div class="container">
      <br><br><br><br>
      <div class="container-fluid">
        <div class="row">
          <h2>{{article.title|safe}}</h2>
          <a href={{article.articleUrl}} target="_blank">
            <button type="button" class="btn btn-md btn-danger" name="button">Read from {{article.source|safe}}</button>
          </a>
          <img src="{{article.imageUrl}}" class="img-responsive" alt="{{article.title}}">
          <p>{{article.article|safe}}</p>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>

    {% endblock %}

  </body>
</html>
