{% extends "base.html" %}
{% load staticfiles %}
{% load bootstrap3 %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="TechEleza is your premier source for latest technology products News in Africa,  News for mobile phones in Africa, laptops in Africa, tablets in Africa, and unbiased expert product News of HDTVs, laptops, smartphones and more.">
    <link rel="canonical" href="https://www.techeleza.com/news/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Technology product News in Africa, smartphones News &amp; Mobile Phone News |  TechEleza">
    <meta property="og:description" content="TechEleza is your home for Africa technology News,  product News , mobile app news and smartphones News.">
    <meta property="og:url" content="https://www.techeleza.com/news/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    {% endblock %}

    {% block title %}
    <title>Technology News</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <div class="container-fluid">
      <br><br><br>
      <div class="container-fluid">
        <h2 style="font-weight: bold">Technology News</h2>
        <div class="row">
          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            {% for news in news_articles %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a href="{% url 'read_news_article' id=news.id %}">
                <h5>Source:{{news.source|safe}}</h5>
                <h4>{{news.title|safe}}</h4></a>
              </div>
              <div class="panel-body">
                <img src="{{news.imageUrl}}" class="img-responsive" alt="{{news.title|safe}}">
                <p>{{news.article|truncatechars:100|safe}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
    {% endblock %}

    {% block scripts %}
      <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
      <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     {% bootstrap_javascript %}
    {% endblock %}

  </body>
</html>
