body{
  background-color: #e9ebee;
}
h2{
  font-weight: bold;
  text-align: center;
}
.panelsuccesscolor{
  color: #001B1D;
}
p{
  color: black;
}
.panel{
  margin-top: -25px;
}
.forums-images{
  height: 200px;
  width: auto;
}
h3{
  text-align: center;
}
