nav {
    position: fixed;
    width: 100%;
    transition: all 0.5s ease;
    height: 60px;
    color:
    background-color: rgba(21, 30, 39, 1);
}
nav.hidden {
    transform: translate3d(0,-100%0);
}
.navbar{
  background-color: rgba(21, 30, 39, 1);
  color: white;
  height: 60px;
}
.navbar-collapse {
    height: 100vh;
    transition: height 0.5s
}
ul{
  color: darkred;
}
