body{
  background-color: #e9ebee;
  /* #e9ebee; */
}
.card-article{
  width: 100%;
  max-width: 250px;
  height: auto;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.img-flick{
  height: 200px;
  width: auto;
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
h2{
  text-align: center;
}
.img-article{
  width: 100%;
  max-width: 170px;
  height: auto;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.glyphicon-like{
  margin-top: 25px;
  font-size: 36px;
  color: darkred;
}
h5{
  font-weight: bold;
}
h4{
  color: darkred;
  font-weight: bold;
}
.article-row{
  background-color: white;
  color: black;
  padding-left: 20px;
}
.fa{
  font-size: 24px;
  padding-left: 50px;
}
.fa-facebook{
  color: darkblue;
}
.fa-instagram{
  color: darkred;
}
.fa-twitter{
  color: blue;
}
.fa-youtube{
  color: red;
}
