{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- {% block adsense %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3710297308109999",
        enable_page_level_ads: true
      });
    </script>
    {% endblock %} -->

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="TechEleza is your premier source for latest technology products reviews in Africa, technology news in Africa, Specifications for mobile phones in Africa, laptops in Africa, tablets in Africa, and unbiased expert product reviews of HDTVs, laptops, smartphones and more.">
    <link rel="canonical" href="https://www.techeleza.com">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Latest Africa Technology News, Technology product Reviews in Africa, smartphones Reviews, Phone Specifications, &amp; Mobile Phone Specs |  TechEleza">
    <meta property="og:description" content="TechEleza is your home for Africa technology news,  product reviews , mobile app reviews and smartphones Specifications.">
    <meta property="og:url" content="https://www.techeleza.com">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    {% endblock %}

    {% block title %}
    <title>TechEleza</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/flickity.min.css' %}">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <div class="container-fluid">
      <br><br><br>

      <!-- Social media -->
      <div class="container">
        <div class="row">
          <br>
          <a href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
      <!-- Social media end -->

      <!-- Specs -->
      <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="col-xs-8">
              <a href="/specs/">
              <h2>Phone Specs</h2></a>
            </div>
            <div class="col-xs-4">
              <a href="/specs/">
              <p class="btn-view-more">More Specs ></p></a>
            </div>
          </div>

          <div class="main-carousel" data-flickity='{ "cellAlign": "left", "contain": true }'>
            {% for spec in specs %}
            <div class="carousel-padding carousel-cell">
              <a href="{% url 'specs_article' pk=spec.pk %}">
              <div  class="panel panelspecs panel-default">
                <div class="panel-body">
                  <img src="{{spec.specs_image.url}}" class="img-flick img-responsive img-rounded" alt="{{spec.title|safe}}">
                </div>
                <div class="panel-footer">
                  <h4 style="color: darkred;">{{spec.title}}</h4>
                  {% if spec.description %}
                  <p>{{spec.description}}</p>
                  {% endif %}
                </div>
              </div></a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Specs end -->

      <!-- Reviews -->
      <div class="container-fluid">
        <div class="row">
          <div class="col-xs-7">
              <a href="/reviews/">
            <h2>Phone Reviews</h2></a>
          </div>
          <div class="col-xs-5">
            <a href="/reviews/">
            <p class="btn-view-more">More Reviews ></p></a>
          </div>
        </div>

        <div class="row vergecolor">
          <div class="main-carousel " data-flickity='{ "cellAlign": "left", "contain": true }'>
            {% for review in reviews %}
            <div class="carousel-padding">
              <a href="{% url 'review_article' pk=review.pk %}">
                <div  class="panel vergecolor panelreview panel-default">
                  <div class="panel-body">
                    <img src="{{review.review_image.url}}" class="img-flick img-responsive img-rounded" alt="{{review.title|safe}}">
                  </div>
                  <div class="panel-footer">
                    <h4 style="color: darkred;">{{review.title|safe}}</h4>
                    {% if review.description %}
                    <p>{{review.description|truncatechars:100}}</p>
                    {% endif %}
                  </div>
                </div>
              </a>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
      <!-- Review end -->

      <div class="container-fluid">

        <div class="row">
          <div class="col-xs-7">
            <a href="/social/">
            <h2>Trending Forums</h2></a>
          </div>
          <div class="col-xs-5">
            <a href="/social/">
            <p class="btn-view-more">More Forums ></p></a>
          </div>
        </div>

        <div class="row">
          <div class="col-sm-12">
              <!-- <a class="panelsuccesscolor" href="{% url 'technews' %}"> -->
            <div class="panel panel-info">
              <div class="panel-heading">
                <h4>Tech News</h4>
              </div>
              <div class="panel-body">
                <p>Talk about latest and trending tech news in the community</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'techtips' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Tech Tips</h4>
              </div>
              <div class="panel-body">
                <p>Share your technology tips with others in the community.</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'offtopic' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Off Topic</h4>
              </div>
              <div class="panel-body">
                <p>Any topic which is not technology related goes here e.g welcoming a new member.</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'generaldiscussion' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>General Discussion</h4>
              </div>
              <div class="panel-body">
                <p>Talk about general tech topics which might not be icluded in the other forums</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'smartphonestablets' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>SmartPhones and Tablets</h4>
              </div>
              <div class="panel-body">
                <p>Contribute to topics about SmartPhones and tablets</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12 ">
            <!-- <a class="panelsuccesscolor" href="{% url 'laptopsforum' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Laptops</h4>
              </div>
              <div class="panel-body">
                <p>Contribute to topics about laptops</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'photographyvideography' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Photography and Videography</h4>
              </div>
              <div class="panel-body">
                <p>Contribute to topics about photographs and videos</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12 ">
            <!-- <a class="panelsuccesscolor" href="{% url 'televisionsforum' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Televisions</h4>
              </div>
              <div class="panel-body">
                <p>Talk about Televisions and discuss with the communities</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12 ">
            <!-- <a class="panelsuccesscolor" href="{% url 'soundsystem' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Sound System</h4>
              </div>
              <div class="panel-body">
                <p>Contribute and talk on topics about sound systems with the community</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'carsforum' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Cars</h4>
              </div>
              <div class="panel-body">
                <p>Contribute and talk about Cars with the community</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12 ">
            <!-- <a class="panelsuccesscolor" href="{% url 'programmesforum' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Programmes</h4>
              </div>
              <div class="panel-body">
                <p>Discuss about topics of programmes with the community</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12  ">
            <!-- <a class="panelsuccesscolor" href="{% url 'appswebsites' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Apps and Websites</h4>
              </div>
              <div class="panel-body">
                <p>Discuss about various applications and websites with the community</p><br>
              </div>
            </div>
          <!-- </a> -->
          </div>

          <div class="col-sm-12 ">
            <!-- <a class="panelsuccesscolor" href="{% url 'operatingsystems' %}"> -->
            <div class="panel panelforum panel-info ">
              <div class="panel-heading ">
                <h4>Operating Systems</h4>
              </div>
              <div class="panel-body">
              <p>Discuss abot topics on Operating Systems with the communiity.</p>
              </div>
            </div>
          <!-- </a> -->
          </div>

        </div>
      </div>

      <!-- News -->
      <!-- <div class="container-fluid">
        <div class="row">
          <div class="row">
            <div class="col-xs-8">
              <a href="/news/">
              <h2>News</h2></a>
            </div>
            <div class="col-xs-4">
              <a href="/news/">
              <p class="btn-view-more">More News ></p></a>
            </div>
          </div>

          <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
            {% for news in news_articles %}
            <div class="panel panel-default">
              <div class="panel-heading">
                <a href="{% url 'read_news_article' id=news.id %}">
                <h5>Source:{{news.source|safe}}</h5>
                <h2 style="color: black;">{{news.title|safe}}</h2></a>
              </div>
              <div class="panel-body">
                      <img src="{{news.imageUrl}}" class="img-responsive" alt="{{news.title|safe}}">

                <p>{{news.article|truncatechars:100|safe}}</p>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div> -->
      <!-- News end -->

    </div>
    <footer>
      <div class="container-fluid">
        <div class="row"><br>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <br>
            <p> &copy; Copyright  <a target="_blank" style="color: white; font-weight: bold;" href="https://www.techeleza.com/">TechEleza</a>  2019.  All Rights Reserved. </p>
            <p><a style="color: white;" href="#">Terms of Use</a></p>
          </div>
          <div class="col-sm-5">
            <h5 style="text-align: center;">Contact Us</h5>
            <a target="_blank" href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
            <a target="_blank" href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
            <a target="_blank" href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
          <div class="col-sm-1"></div>
        </div> <br>
      </div>
    </footer>


    {% endblock %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    <script src="{% static 'js/flickity.pkgd.min.js' %}"></script>
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    <script src="{% static 'js/search_ajax.js' %}"></script>
    {% bootstrap_javascript %}


    {% endblock %}

  </body>
</html>
