{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="TechEleza is your premier source for latest technology products reviews in Africa, technology news in Africa, Specifications for mobile phones in Africa, laptops in Africa, tablets in Africa, and unbiased expert product reviews of HDTVs, laptops, smartphones and more.">
    <link rel="canonical" href="https://www.techeleza.com/reviews/">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Technology product Reviews in Africa, smartphones Reviews &amp; Mobile Phone Reviews |  TechEleza">
    <meta property="og:description" content="TechEleza is your home for Africa technology reviews,  product reviews , mobile app reviews and smartphones Reviews.">
    <meta property="og:url" content="https://www.techeleza.com/reviews/">
    <meta property="og:site_name" content="TechEleza">
    {% endblock %}

    {% block title %}
    <title>Mobile Reviews</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}
  </head>
  <body>

    {% block content %}

    {% if  user.is_authenticated %}
    <div style="z-index: 1;" class="icon-bar-article">
      <a href="{% url 'newarticle' %}" class="twitter"> <button style="color: white; font-size: 14px; font-weight: bold; background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);" class="btn btn-sm" name="button">Say Something?</button> </a>
    </div>
    {% else %}
    <div style="z-index: 1;" class="icon-bar-article">
      <a href="/accounts/login/?next=/accounts/login" class="twitter"> <button style="color: white; font-size: 14px; font-weight: bold; background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);" class="btn btn-sm" name="button">Say Something?</button> </a>
    </div>
    {% endif %}
    <div class="container-fluid">

      <div class="container-fluid">
        <h2> Reviews</h2>
        <div class="row infinite-container">

          {% for number in review_pages %}
            <div class="col-sm-6 col-md-4 col-lg-3">
              <a href="{% url 'review_article' pk=number.pk %}">
              <div class="card">
                <div class="card-header">
                  <img src="{{number.review_image.url}}" class="card-img-top img-fluid review-image" alt="{{number.title|safe}}">
                </div>
                <div class="card-body">
                  <h5 style="color: darkred;" class="card-heading">{{number.title|safe}}</h5>
                </div>
              </div></a>
            </div>

          {% endfor %}

        </div>
      </div>

      <nav aria-label="...">
      {% if review_pages.has_other_pages %}
        <ul class="pagination justify-content-center pagination-lg">
          {% if review_pages.has_previous %}
            <li class="page-item"><a class="page-link" href="?page={{ review_pages.previous_page_number }}">&laquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&laquo;</span></li>
          {% endif %}
          {% for i in review_pages.paginator.page_range %}
            {% if review_pages.number == i %}
              <li class="page-item active"><span class="page-link">{{ i }} <span class="sr-only">(current)</span></span></li>
            {% elif i > review_pages.number|add:'-3' and i < review_pages.number|add:'4' %}
              <li class="page-item"><a class="page-link" href="?page={{ i }}">{{ i }}</a></li>
            {% endif %}
          {% endfor %}
          {% if review_pages.has_next %}
            <li class="page-item"><a class="page-link" href="?page={{ review_pages.next_page_number }}">&raquo;</a></li>
          {% else %}
            <li class="page-item disabled"><span class="page-link">&raquo;</span></li>
          {% endif %}
        </ul>
      {% endif %}
      </nav>

    </div>
    {% endblock %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
    <!-- <script src="{% static 'js/infinite.min.js' %}"></script> -->
    <script src="{% static 'js/navbar.js' %}"></script>
    <script>
    var infinite = new Waypoint.Infinite({
      element: $('.infinite-container')[0],
      onBeforePageLoad: function () {
        $('.loading').show();
      },
      onAfterPageLoad: function ($items) {
        $('.loading').hide();
      }
    });
  </script>
    {% bootstrap_javascript %}

    {% endblock %}

  </body>
</html>
