{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">

    {% if title %}
    <title>{{reviewarticle.title}}</title>
    {{else}}
    <title>Review</title>
    {% endif %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <div class="container">
      <br><br><br>
      <div class="container-fluid">
        <div class="row">
          <h2>{{reviewarticle.title}}</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-7">
                  <img src="{{reviewarticle.review_image.url}}" class="img-article img-responsive img-rounded" alt="{{reviewarticle.review_article.title|safe}}">
                </div>
                <div class="col-sm-5">
                  <div id="review-like-section">
                    {% include "reviews/review_like_section.html" %}
                  </div>
                </div>
              </div>
            </div>

            <div class="reviewarticle">
              <br>
              <h4 class="text-center">{{reviewarticle.title}}</h4>
              <p class="articleparagraph">{{reviewarticle.description|safe}}</p>
              <img src="{{reviewarticle.introduction_releasedate_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.introduction_releasedate|safe}}</p>
              <img src="{{reviewarticle.performance_price_image}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.performance_price|safe}}</p>
              <img src="{{reviewarticle.design_hardware_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.design_hardware|safe}}</p>
              <img src="{{reviewarticle.software_os_softwarefeatures_image}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.software_os_softwarefeatures|safe}}</p>
              <img src="{{reviewarticle.display|safe}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.display_image|safe}}</p>
              <img src="{{reviewarticle.batterylife_image}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.batterylife|safe}}</p>
              <img src="{{reviewarticle.camera_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.camera_image|safe}}</p>
              <img src="{{reviewarticle.competition_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.competition_image|safe}}</p>
              <img src="{{reviewarticle.pros_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.pros|safe}}</p>
              <img src="{{reviewarticle.cons_image.url}}" class="img-responsive" alt="{{reviewarticle.title}}">
              <p class="articleparagraph">{{reviewarticle.cons|safe}}</p>
              <p class="articleparagraph">{{reviewarticle.verdict|safe}}</p>
              <br>
            </div>

            <div class="main-review-comment-section">
              {% include "reviews/review_comments.html" %}
            <br>
          </div>

          </div>
          <div class="col-sm-4">
            <h3>Similar Devices</h3>
            <div class="infinite-container">
              {% for review in similar %}
              <div class="infinite-item">
                <div class="col-xs-6">
                  <a href="{% url 'review_article' pk=review.pk %}">
                  <div class="panel panelstuff panel-default">
                    <div class="panel-heading">
                      <h5>{{review.tags.all}}</h5>
                    </div>
                    <div class="panel-body">

                      <img src="{{review.review_image.url}}" class="img-flick img-responsive img-rounded" alt="{{review.title|safe}}">
                    </div>
                    <div class="panel-footer">
                      <p class="panel-paragraph">{{review.title|safe}}</p>
                    </div>
                  </div></a>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>
          <div class="loading" >
            Loading...
          </div>

          {% if review_article_pages.has_next %}
          <a class="infinite-more-link" href="?page={{ review_article_pages.next_page_number }}">More</a>
          {% endif %}
        </div>
      </div>

    </div>
    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/review_article.js' %}"></script>
     <script type="text/javascript">

       $(document).ready(function(event){
         $(document).on('click', '#reviewlike', function(event){
           event.preventDefault();
           var pk = $(this).attr('value');
           $.ajax({
             type: 'POST',
             url: '{% url "review_like_post" %}',
             data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: 'json',
             success: function(response){
               $('#review-like-section').html(response['form'])
               console.log($('#review-like-section').html(response['form']));
             },
             error: function(rs, e){
               console.log(rs.responseText);
             },
           });
         });
       });

     </script>
     <script>
     var infinite = new Waypoint.Infinite({
       element: $('.infinite-container')[0],
       onBeforePageLoad: function () {
         $('.loading').show();
       },
       onAfterPageLoad: function ($items) {
         $('.loading').hide();
       }
     });
   </script>

    {% endblock %}

  </body>
</html>
