{% extends "base.html" %}
{% load bootstrap3 %}
{% load static %}
{% load staticfiles %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block adsense %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3710297308109999",
        enable_page_level_ads: true
      });
    </script>
    {% endblock %}

    {% block meta %}
    <meta charset="utf-8">
    <meta name="keywords" itemprop="keywords" content="{{reviewarticle.keywords}}" ng-attr-content="{{reviewarticle.keywords}}">
    <meta name="description" content="{{reviewarticle.description}}">
    <link rel="canonical" href="https://www.techeleza.com/">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{reviewarticle.title}}">
    <meta property="og:description" content="{{reviewarticle.description}}">
    <meta property="og:url" content="https://www.techeleza.com/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="{{reviewarticle.review_image.url}}">
    <meta property="og:image:secure_url" content="{{reviewarticle.review_image.url}}">
    {% endblock %}

    {% block title %}
    <title>{{reviewarticle.title}}</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/reviews.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
      <br><br><br>

      <!-- Social media -->
      <div class="container">
        <div class="row">
          <br>
          <a href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
      <!-- Social media end -->

      <div class="container-fluid">
        <div class="row">
          <h2>{{reviewarticle.title}}</h2>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-7">
                  <img src="{{reviewarticle.review_image.url}}" class=" reviewarticleimages img-article img-responsive img-rounded" alt="{{reviewarticle.review_article.title|safe}}">
                </div>
                <div class="col-sm-5">
                  <div id="review-like-section">
                    {% include "reviews/review_like_section.html" %}
                  </div>
                </div>
              </div>
            </div> <br>

            <div class="article-row">
              <div class="reviewarticle">
                <br>
                <h4 class="text-center">{{reviewarticle.title}}</h4>
                <p class="articleparagraph">{{reviewarticle.description|safe}}</p>
                {% if reviewarticle.introduction_releasedate_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.introduction_releasedate_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.introduction_releasedate|safe}}</p>
                {% if reviewarticle.performance_price_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.performance_price_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.performance_price|safe}}</p>
                {% if reviewarticle.design_hardware_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.design_hardware_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.design_hardware|safe}}</p>
                {% if reviewarticle.software_os_softwarefeatures_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.software_os_softwarefeatures_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.software_os_softwarefeatures|safe}}</p>
                {% if reviewarticle.display_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.display_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.display|safe}}</p>
                {% if reviewarticle.batterylife_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.batterylife_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.batterylife|safe}}</p>
                {% if reviewarticle.camera_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.camera_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.camera|safe}}</p>
                {% if reviewarticle.competition_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.competition_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.competition|safe}}</p>
                {% if reviewarticle.pros_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.pros_image}}" class=" reviewarticleimages img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.pros|safe}}</p>
                {% if reviewarticle.cons_image %}
                <img style="display: block; margin-left: auto; margin-right: auto;" src="{{reviewarticle.cons_image}}" class=" reviewarticleimages  img-responsive" alt="{{reviewarticle.title}}">
                {% endif %}
                <p class="articleparagraph">{{reviewarticle.cons|safe}}</p>
                <p class="articleparagraph">{{reviewarticle.verdict|safe}}</p>
                <br>
              </div>
              <br>

              <div class="main-review-comment-section">
                {% include "reviews/review_comments.html" %}
              <br>
            </div>
            </div>

          </div>
          <div class="col-sm-4">
            <h3>Similar Devices</h3>
            <div class="infinite-container">
              {% for review in review_article_pages %}
              <div class="infinite-item">
                <div class="col-xs-6">
                  <a href="{% url 'review_article' pk=review.pk %}">
                  <div class="panel panelstuff panel-default">
                    <!-- <div class="panel-heading">
                      <h5>{{review.tags.all}}</h5>
                    </div> -->
                    <div class="panel-body">

                      <img src="{{review.review_image.url}}" class=" reviewarticleimages img-flick img-responsive img-rounded" alt="{{review.title|safe}}">
                    </div>
                    <div class="panel-footer">
                      <p class="panel-paragraph">{{review.title|safe}}</p>
                    </div>
                  </div></a>
                </div>
              </div>
              {% endfor %}
            </div>

          </div>

          {% if review_article_pages.has_next %}
          <a class="infinite-more-link" href="?page={{ review_article_pages.next_page_number }}">More</a>
          {% endif %}
        </div>
      </div>

    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
        <script src="{% static 'js/infinite.min.js' %}"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/review_article.js' %}"></script>
     <script type="text/javascript">

       $(document).ready(function(event){
         $(document).on('click', '#reviewlike', function(event){
           event.preventDefault();
           var pk = $(this).attr('value');
           $.ajax({
             type: 'POST',
             url: '{% url "review_like_post" %}',
             data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: 'json',
             success: function(response){
               $('#review-like-section').html(response['form'])
               console.log($('#review-like-section').html(response['form']));
             },
             error: function(rs, e){
               console.log(rs.responseText);
             },
           });
         });
       });

     </script>
     <script>
     var infinite = new Waypoint.Infinite({
       element: $('.infinite-container')[0],
       onBeforePageLoad: function () {
         $('.loading').show();
       },
       onAfterPageLoad: function ($items) {
         $('.loading').hide();
       }
     });
   </script>

    {% endblock %}

  </body>
</html>
