
{% if user.is_authenticated %}
<form action="{% url 'specs_like_post' %}" method="post">
  {% csrf_token %}
  {% if is_liked %}
    <i type="submit" id="specslike" name="post_id" value="{{ specspost.id }}"  class="fa fa-heart" style=" font-size:36px; color: darkred;"></i>
   <!-- <button type="submit" id="specslike" name="post_id" value="{{ specspost.id }}" class="btn btn-danger">Dislike</button> -->
   {% else %}
   <i type="submit" id="specslike" name="post_id" value="{{ specspost.id }}" class="fa fa-heart-o" style=" font-size:36px; color: darkred;"></i>
   <!-- <button type="submit" id="specslike" name="post_id" value="{{ specspost.id }}" class="btn btn-primary">Like</button> -->
  {% endif %}
</form>
{% else %}
<a href="/accounts/login/">
<button type="button" class="btn btn-sm btn-info" name="button">Please Sign In or Sign Up to Like or Dislike</button></a>
{% endif %}
<h4>{{ total_likes }} Like{{ total_likes|pluralize }}</h4>
