{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    <!-- {% block adsense %}
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-3710297308109999",
        enable_page_level_ads: true
      });
    </script>
    {% endblock %} -->

    {% block meta %}
    <meta charset="utf-8">
    <meta name="keywords" itemprop="keywords" content="{{specsarticle.keywords}}" ng-attr-content="{{specsarticle.keywords}}">
    <meta name="description" content="{{specsarticle.description}}">
    <link rel="canonical" href="https://www.techeleza.com{{request.path}}">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{specsarticle.title}}">
    <meta property="og:description" content="{{specsarticle.description}}">
    <meta property="og:url" content="https://www.techeleza.com/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="https://www.techeleza.com{{specsarticle.specs_image.url}}">
    <meta property="og:image:secure_url" content="https://www.techeleza.com{{specsarticle.specs_image.url}}">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ElezaTech">
    <meta name="twitter:url" content="https://www.techeleza.com{{request.path}}">
    <meta name="twitter:title" content="{{specsarticle.title}}">
    <meta name="twitter:description" content="{{specsarticle.description}}">
    <meta name="twitter:image" content="https://www.techeleza.com{{specsarticle.specs_image.url}}">

    {% endblock %}

    {% block title %}
    <title>{{specsarticle.title}}</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>

    {% block content %}
    <br><br><br>

    <!-- Social media -->
    <div class="container">
      <div class="row">
        <br>
        <a href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
        <a href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
        <a href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
        <a href="#" class="fa fa-youtube"></a>
      </div>
    </div>
    <!-- Social media end -->

      <div class="container-fluid">
        <div class="row">
          <h1 style="text-align: center;">{{specsarticle.title}}</h1>
        </div>
      </div>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            <div class="container-fluid">
              <div class="row">
                <div class="col-sm-7">
                  <img src="{{specsarticle.specs_image.url}}" class="img-article img-responsive img-rounded" alt="{{specsarticle.specs_article.title|safe}}">
                </div>
                <div class="col-sm-5">
                  <div id="specs-like-section">
                    {% include "specs/specs_like_section.html" %}
                  </div>
                </div>
              </div>
            </div><br>

            <div style="margin-left: 3px" class="specsarticle">
              <br>
              <h3 style="color: darkred; text-align: center;">{{specsarticle.title}}</h3>

              <table class="table-responsive table">
        <thead>
        </thead>
        <tbody>
          <div class="container-fluid">
          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Network</h3> </th></tr>
          <tr>
              <td> <h4>2G Network</h4> </td>
              <td> {% if specsarticle.network2G %} <p>{{specsarticle.network2G| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>3G Network</h4> </td>
            <td> {% if specsarticle.network3G %}  <p>{{specsarticle.network3G| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>4G Network</h4> </td>
            <td> {% if specsarticle.network4G %} <p>{{specsarticle.network4G| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Launch</h3> </th></tr>
          <tr>
              <td> <h4>Announced Date</h4> </td>
              <td> {% if specsarticle.launchannounced %} <p>{{specsarticle.launchannounced| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Release Date</h4> </td>
            <td> {% if specsarticle.launchavailable %}  <p>{{specsarticle.launchavailable| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Body</h3> </th></tr>
          <tr>
              <td> <h4>Body Dimensions</h4> </td>
              <td> {% if specsarticle.bodydimensions %} <p>{{specsarticle.bodydimensions| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Body Build</h4> </td>
            <td> {% if specsarticle.bodybuild %}  <p>{{specsarticle.bodybuild| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Body Weight</h4> </td>
            <td> {% if specsarticle.bodyweight %}  <p>{{specsarticle.bodyweight| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Body Sim</h4> </td>
            <td> {% if specsarticle.bodysim %}  <p>{{specsarticle.bodysim| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Display</h3> </th></tr>
          <tr>
              <td> <h4>Display Type</h4> </td>
              <td> {% if specsarticle.displaytype %} <p>{{specsarticle.displaytype| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Display Size</h4> </td>
            <td> {% if specsarticle.displaysize %}  <p>{{specsarticle.displaysize| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Resolution</h4> </td>
            <td> {% if specsarticle.displayresolution %} <p>{{specsarticle.displayresolution| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Multitouch</h4> </td>
            <td> {% if specsarticle.displaymultitouch %} <p>{{specsarticle.displaymultitouch| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Protection</h4> </td>
            <td> {% if specsarticle.displayprotection %} <p>{{specsarticle.displayprotection| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Platform</h3> </th></tr>
          <tr>
              <td> <h4>OS</h4> </td>
              <td> {% if specsarticle.platformos %} <p>{{specsarticle.platformos| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Chipset</h4> </td>
            <td> {% if specsarticle.platformchipset %} <p>{{specsarticle.platformchipset| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>CPU</h4> </td>
            <td> {% if specsarticle.platformcpu %}  <p>{{specsarticle.platformcpu| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>GPU</h4> </td>
            <td> {% if specsarticle.platformgpu %} <p>{{specsarticle.platformgpu| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Storage</h3> </th></tr>
          <tr>
              <td> <h4>Memory Card Slot</h4> </td>
              <td> {% if specsarticle.memorycardslot %} <p>{{specsarticle.memorycardslot| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Internal Memory</h4> </td>
            <td> {% if specsarticle.internalmemory %} <p>{{specsarticle.internalmemory| safe}}</p> {% endif %}</td>
          </tr>

          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Main Camera</h3> </th></tr>
          <tr>
              <td> <h4> Main Camera</h4> </td>
              <td> {% if specsarticle.maincameradual %} <p>{{specsarticle.maincameradual| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Main Camera Features</h4> </td>
            <td> {% if specsarticle.maincamerafeatures %} <p>{{specsarticle.maincamerafeatures| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Main Camera Video</h4> </td>
            <td> {% if specsarticle.maincameravideo %} <p>{{specsarticle.maincameravideo| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Selfie Camera</h3> </th></tr>
          <tr>
              <td> <h4> Selfie Camera</h4> </td>
              <td> {% if specsarticle.selfiecameradual %} <p>{{specsarticle.selfiecameradual| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>SelfieCamera Features</h4> </td>
            <td> {% if specsarticle.selfiecamerafeatures %} <p>{{specsarticle.selfiecamerafeatures| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Selfie Camera Video</h4> </td>
            <td> {% if specsarticle.selfiecameravideo %} <p>{{specsarticle.selfiecameravideo| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Sound</h3> </th></tr>

          <tr>
            <td> <h4>Loud Speaker</h4> </td>
            <td> {% if specsarticle.soundloudspeaker %} <p>{{specsarticle.soundloudspeaker| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Headphone Jack</h4> </td>
            <td> {% if specsarticle.soundheadphonejack %} <p>{{specsarticle.soundheadphonejack| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">COMMS</h3> </th></tr>
          <tr>
              <td> <h4>WLAN</h4> </td>
              <td> {% if specsarticle.commswlan %} <p>{{specsarticle.commswlan| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Bluetooth</h4> </td>
            <td> {% if specsarticle.commsbluetooth %} <p>{{specsarticle.commsbluetooth| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>GPS</h4> </td>
            <td> {% if specsarticle.commsgps %} <p>{{specsarticle.commsgps| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>nfc</h4> </td>
            <td> {% if specsarticle.commsnfc %} <p>{{specsarticle.commsnfc| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>Radio</h4> </td>
            <td> {% if specsarticle.commsradio %} <p>{{specsarticle.commsradio| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
            <td> <h4>USB</h4> </td>
            <td> {% if specsarticle.commsusb %} <p>{{specsarticle.commsusb| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Features</h3> </th></tr>
          <tr>
              <td> <h4>Sensors</h4> </td>
              <td> {% if specsarticle.featuressensors %} <p>{{specsarticle.featuressensors| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Battery</h3> </th></tr>
          <tr>
              <td> <h4>Battery</h4> </td>
              <td> {% if specsarticle.battery %} <p>{{specsarticle.battery| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Colors</h3> </th></tr>
          <tr>
              <td> <h4>Device Colors</h4> </td>
              <td> {% if specsarticle.devicecolors %} <p>{{specsarticle.devicecolors| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Price</h3> </th></tr>
          <tr>
              <td> <h4>Kenya</h4> </td>
              <td> {% if specsarticle.priceinkenya %} <p>{{specsarticle.priceinkenya| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
              <td> <h4>Nigeria</h4> </td>
              <td> {% if specsarticle.priceinnigeria %} <p>{{specsarticle.priceinnigeria| safe}}</p> {% endif %}</td>
          </tr>

          <tr>
              <td> <h4>South Africa</h4> </td>
              <td> {% if specsarticle.priceinsouthafrica %} <p>{{specsarticle.priceinsouthafrica| safe}}</p> {% endif %}</td>
          </tr>


          <tr><th colspan="3"> <h3 style="color: darkred; text-align: center;">Other Features</h3> </th></tr>
          <tr>
              <td> <h4>Other Features</h4> </td>
              <td> {% if specsarticle.otherfeatures %} <p>{{specsarticle.otherfeatures| safe}}</p> {% endif %}</td>
          </tr>
        </div>
        </tbody>
      </table>

      <br><br>
        <div class="specsarticle main-specs-comment-section">
          {% include "specs/specs_comments.html" %}
        <br>
        </div>
      </div>
    </div>

          <div class="col-sm-4">
            <h3 style="color: darkred; text-align: center;">Similar Devices</h3>
            <div class="infinite-container">
              {% for specs in specs_article_pages %}
              <div class="col-xs-6">
                <div class="infinite-item">
                  <a href="{% url 'specs_article' pk=specs.pk %}">
                  <div class="panel panelstuff panel-default">
                    <div class="panel-body">
                      <img src="{{specs.specs_image.url}}" class="img-flick img-responsive img-rounded" alt="{{specs.title|safe}}">
                    </div>
                    <div class="panel-footer">
                      <p class="panel-paragraph">{{specs.title|safe}}</p>
                    </div>
                  </div></a>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>

          {% if specs_article_pages.has_next %}
          <a class="infinite-more-link" href="?page={{ specs_article_pages.next_page_number }}">More</a>
          {% endif %}

        </div>
      </div>


    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/specs_article.js' %}"></script>
     <script src="{% static 'js/jquery.waypoints.min.js' %}"></script>
     <script src="{% static 'js/infinite.min.js' %}"></script>
     <script>
     var infinite = new Waypoint.Infinite({
       element: $('.infinite-container')[0],
       onBeforePageLoad: function () {
         $('.loading').show();
       },
       onAfterPageLoad: function ($items) {
         $('.loading').hide();
       }
     });
   </script>
   {% bootstrap_javascript %}
     <script type="text/javascript">

       $(document).ready(function(event){
         $(document).on('click', '#specslike', function(event){
           event.preventDefault();
           var pk = $(this).attr('value');
           $.ajax({
             type: 'POST',
             url: '{% url "specs_like_post" %}',
             data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: 'json',
             success: function(response){
               $('#specs-like-section').html(response['form'])
               console.log($('#specs-like-section').html(response['form']));
             },
             error: function(rs, e){
               console.log(rs.responseText);
             },
           });
         });
       });

     </script>

    {% endblock %}

  </body>
</html>
