{% extends "base.html" %}
{% load bootstrap3 %}
{% load staticfiles %}
{% load static %}

{% block title %}
  {{post.title}}
{% endblock %}

{% block styles %}
{% bootstrap_css %}
{{form.media}}
{% endblock %}

{% block content %}
<div class="container">
  <div class="container-fluid">
    <br><br><br>
    <h2 style="color: red;">Select one tag in which you would like your post to appear</h2>
    <form method="post">
      {% csrf_token %}
      {% bootstrap_form  form %}

      <input type="submit" class="btn btn-success" value="Update">
    </form>
  </div>

</div>
{% endblock %}

{% block scripts %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
{% bootstrap_javascript %} {% endblock %}
