{%extends 'base.html'%}
{% load bootstrap3 %}
{% load static %}
{% load avatar_tags %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="Get to find Topics and articles discussed by the online community in our forum">
    <link rel="canonical" href="https://www.techeleza.com{{request.path}}">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="{{article.title}}">
    <meta property="og:description" content="Get to find Topics and articles discussed by the online community in our forum">
    <meta property="og:url" content="https://www.techeleza.com{{request.path}}">
    <meta property="og:site_name" content="TechEleza">
    {% if article.article_image %}
    <meta property="og:image" content="https://www.techeleza.com{{article.article_image.url}}">
    <meta property="og:image:secure_url" content="https://www.techeleza.com{{article.article_image.url}}">
    {% endif %}
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">

    <meta name="twitter:card" content="summary_large_image">
    <meta name="twitter:site" content="@ElezaTech">
    <meta name="twitter:url" content="https://www.techeleza.com{{request.path}}">
    <meta name="twitter:title" content="{{article.title}}">
    <meta name="twitter:description" content="{{article.description}}">
    {% if article.article_image %}
    <meta name="twitter:image" content="https://www.techeleza.com{{article.article_image.url}}">
    {% endif %}
    {% endblock %}

    {% block title %}
    <title>{{article.title}}</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    {% endblock %}

  </head>
  <body>


    {% block content %}

    <br><br><br><br>

    {% if  user.is_authenticated %}
    <div style="z-index: 1;" class="icon-bar-article">
      <a href="{% url 'newarticle' %}" class="twitter"> <button class="btn btn-sm btn-info" name="button">Start new topic</button> </a>
    </div>
    {% endif %}

    {% if  user.is_authenticated %}
    <div class=""></div>
    {% else %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h4>Please <a href="/accounts/login/?next=/accounts/login"><strong>Sign in/Sign Up</strong></a>  to discuss any Tech issue or ask a Tech question with fellow Tech Enthusiasts from all across Africa. </h4>
    </div>
    {% endif %}

    <div class="container ">

      <h1 class="text-center">{{article.title}}</h1>

      <div class="container-fluid">
        <div class="row">
          <div class="col-sm-8">
            {% if article.article_image %}
            <div class="row">
              <img src="{{article.article_image.url}}"  class="img-responsive" alt="">
            </div>
            {% endif %}
            <br>
          </div>
          <div class="col-sm-4">

            {% if article.editor == request.user %}
            <div class="panel panel-danger">
              <div class="panel-heading">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-xs-6">
                      <a href="{% url 'edit_article' id=article.id %}">
                        <button type="button" class="btn btn-outline-success">Edit</button>
                      </a>
                    </div>
                    <div class="col-xs-6">
                      <a href="{% url 'delete_article' id=article.id %}" id="delete">
                        <button type="button" class="btn btn-danger">Delete</button>
                      </a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            {% endif %}

          </div>
        </div>
      </div>

      <div class="container article-row">
        <div class="container-fluid">
          <div class="container-fluid">
            <div class="row">
              {% for topic in topics %}
              <h3>{{topic.name}}</h3>
              {% endfor %}
            </div>
          </div>

          <div class="row ">
            <h3 style="text-align: center;">{{article.title}}</h3>
            {% autoescape on %}
            {{article.post| safe}}
           {% endautoescape %}

          </div>
          <div class="row">
            <br>
              <p>Posted {{article.pub_date|timesince}} by
            <a style="color: darkred;" href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
              {{article.editor.username}}{% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}</p></a>
          </div>

          <div class="container-fluid">
            <div class="row">
              <br>
              <h4>{{article.article_views}} Views</h4>
              <div id="like-section">
                {% include "social/like_section.html" %}
              </div>  <br>
            </div>
          </div>

            <div class="row">
              <br>
              <div class="main-comment-section">
                {% include "social/comments.html" %}
              <br>
            </div>
          </div>
        </div>
      </div>

    </div>



    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>
     <script src="{% static 'js/article.js' %}"></script>
     <script type="text/javascript">
       $(document).ready(function(event){
         $(document).on('click', '#like', function(event){
           event.preventDefault();
           var pk = $(this).attr('value');
           $.ajax({
             type: 'POST',
             url: '{% url "like_post" %}',
             data: {'id':pk, 'csrfmiddlewaretoken': '{{ csrf_token }}'},
             dataType: 'json',
             success: function(response){
               $('#like-section').html(response['form'])
               console.log($('#like-section').html(response['form']));
             },
             error: function(rs, e){
               console.log(rs.responseText);
             },
           });
         });
       });

     </script>

    {% endblock %}

  </body>
</html>
