{% load avatar_tags %}
<div class="container mt-2">
  <div class="form-group row">
    <form method="post" class="comment-form" action="{% url 'readarticle' pk=article.pk %}">
      {% csrf_token %}
      {{comment_form.as_p}}
      {% if request.user.is_authenticated %}
      <input type="submit" value="Submit" class="btn btn-outline-success">
      {% else %}
      <a href="/accounts/login/">
      <button type="button" class="btn btn-md btn-danger" name="button">Please Sign up or Sign In to add a comment</button></a>
      {% endif %}
    </form>
  </div>
</div>
<div class="container-fluid">
  <h4>{{comments.count}} Comment{{comments.count|pluralize}}</h4>
{% for comment in comments %}
<blockquote class="blockquote">
  <!-- {% avatar comment.user 50 class="img-circle img-responsive" id="user_avatar" %} -->
  <p class="mb-0" id="comment">{{comment.content}} </p>
  <footer style="background-color: white;" class="blockquote-footer">by <cite title="Source Title"> <a style="color: darkred;" href="{% url 'accountsprofilewithpk' pk=comment.user.pk %}"> {{comment.user|capfirst }}</a></cite>
    <button type="button" name="button" class="reply-btn btn btn-outline-dark btn-sm ml-2">Reply</button>
    <h5>{{comment.replies.count}} Reply{{comment.replies.count|pluralize}}</h5>
  </footer>
</blockquote>

<div class="replied-comments container mt-2" style="display:none;">
  {% for reply in comment.replies.all %}
  <blockquote class="blockquote">
    <p class="mb-0" id="comment">{{reply.content}}</p>
    <footer style="background-color: white;" class="blockquote-footer"><small>by <cite title="Source Title"><a style="color: darkred;" href="{% url 'accountsprofilewithpk' pk=reply.user.pk %}"> {{reply.user|capfirst }}</a></cite></small></footer>
  </blockquote>
  {% endfor %}
  <div class="form-group row">
    <form method="post" class="reply-form" action="{% url 'readarticle' pk=article.pk %}">
      {% csrf_token %}
      <input type="hidden" name="comment_id" value="{{ comment.id }}">
      {{comment_form.as_p}}
      <input type="submit" value="Submit" class="btn btn-outline-success">
    </form>
  </div>
</div>

{% endfor %}
</div>
