{% extends "base.html" %}
{% load bootstrap3 %}
{% load avatar_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <meta name="description" content="Discuss topics about Laptops with the online community.">
    <link rel="canonical" href="https://www.techeleza.com/social/laptops/">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Laptops">
    <meta property="og:description" content="Discuss topics about Laptops with the online community">
    <meta property="og:url" content="https://www.techeleza.com/social/laptops/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    {% endblock %}

    {% block title %}
    <title>Laptops Discussions</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/cars.css' %}">
    {% endblock %}
  </head>
  <body>

    {% block content %}
      <br><br><br><br>
      {% if  user.is_authenticated %}
      <div style="z-index: 1;" class="icon-bar-article">
        <a href="{% url 'newarticle' %}" class="twitter"> <button style="color: white; font-size: 14px; font-weight: bold; background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);" class="btn btn-sm" name="button">Start new topic</button> </a>
      </div>
      {% else %}
      <div style="z-index: 1;" class="icon-bar-article">
        <a href="/accounts/login/?next=/accounts/login" class="twitter"> <button style="color: white; font-size: 14px; font-weight: bold; background: linear-gradient(90deg,#f7c626 15%,#f68c2f 40%,#e5127d 85%);" class="btn btn-sm" name="button">Start new topic</button> </a>
      </div>
      {% endif %}

      {% if  user.is_authenticated %}
      <div class=""></div>
      {% else %}
      <div class="alert">
        <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
        <h4>Please <a href="/accounts/login/?next=/accounts/login"><strong>Sign in/Sign Up</strong></a> so that you can be able to ask any Tech questions, start a Tech Topic, Comment/Like on other peoples Topics and Posts and be able to access your Profile. </h4>
      </div>
      {% endif %}
      <!-- Alert End -->

        <h2>Laptops Topics</h2><br>
        {% for article in articles %}
        <div class="container-fluid">

          <div class="panel panel-success">

              <div class="panel-heading">
                <div class="container-fluid">
                  <div class="col-xs-9">
                    <a style="color: black;" href="{% url 'readarticle' pk=article.pk %}">
                      <h3 class="panelsuccesscolor">{{article.title}}</h3>
                  </div>
                  <div class="col-xs-3">
                    <i style="color: darkred;"><h5>{{article.likes.count}} Likes</h5></i>
                    <h5>{{article.article_views}} Views</h5>
                  </div>

                </div>

              </div>
              <div class="panel-body">
                <div class="container-fluid">
                  <div class="row">
                    <div class="col-sm-8">
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-sm-6">
                            {% if article.article_image %}
                            <img class=" img-responsive" src="{{article.article_image.url}}" alt="{{article.title}}">
                            {% endif %}
                          </div></a>
                          <div class="col-sm-6">
                            <a style="color: black;" href="{% url 'readarticle' pk=article.pk %}">
                             <p style="color:black;">{{article.post|truncatechars:100|safe}}</p>
                            </a>
                          </div>
                        </div>
                      </div>


                    </div>
                    <div class="col-sm-4"> <hr>
                      <div class="container-fluid">
                        <div class="row">
                          <div class="col-xs-8">
                            <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                              <p style="color: darkred;">Posted {{article.pub_date|timesince}} ago by </p>
                            </a>
                          </div>
                          <div class="col-xs-4">
                            <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}"> {% avatar article.editor.username 60 class="img-circle img-responsive" id="user_avatar" %}</a>
                          </div>
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
              </div>
            </div>


          </div>

          {% endfor %}
    {% endblock %}

    {% block scripts %}
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
     {% bootstrap_javascript %}
     <script src="{% static 'js/navbar.js' %}"></script>
     <script src="{% static 'js/base.js' %}"></script>

    {% endblock %}

  </body>
</html>
