
{% if user.is_authenticated %}
<form action="{% url 'like_post' %}" method="post">
  {% csrf_token %}
  {% if is_liked %}
    <h4>
    <i type="submit" id="like" name="post_id" value="{{ post.id }}"  class="fa fa-heart" style=" font-size:24px; color: darkred;"></i>
    {{ total_likes }} Like{{ total_likes|pluralize }}</h4>
   {% else %}
   <h4>
   <i type="submit" id="like" name="post_id" value="{{ post.id }}" class="fa fa-heart-o" style=" font-size:24px; color: darkred;"></i>
   {{ total_likes }} Like{{ total_likes|pluralize }}</h4>
  {% endif %}
</form>
{% else %}
<a href="/accounts/login/">
<button type="button" class="btn  btn-md btn-info" name="button">Please Sign In or Sign Up to Like or Dislike</button></a>
{% endif %}
