{% extends "base.html" %}
{% load bootstrap4 %}
{% load staticfiles %}


{% block extrahead %}
<script>window.CKEDITOR_BASEPATH = '/static/ckeditor/ckeditor/';</script>
{{ block.super }}
{% endblock %}

<!DOCTYPE html>
<html>

<head>

  {% block title %}
  {% if title %}
  <title>Write a New Article</title>
  {% else %}
  <title>Write a New Article</title>
  {% endif %}
  {% endblock %}

  {% block styles %}
  {% bootstrap_css %}
  {{form.media}}
  <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
  {% endblock %}

</head>

<body>
  {% block content %}
  <div class="container">
    <div class="container-fluid">
      <br>
      <h1 class="text-center">Write a New Post</h1>

      <form  action="{%url 'newarticle'%}" method="post" enctype="multipart/form-data">
        {%csrf_token%}
        {% bootstrap_form form%}
        <input type="submit" class="btn btn-success btn-lg" value="Post">
      </form>

    </div>
  </div>
  {% endblock %}



   {% block scripts %}
   
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  {% bootstrap_javascript %}

  {% endblock %}

</body>

</html>
