{% extends "base.html" %}
{% load bootstrap3 %}
{% load avatar_tags %}
{% load staticfiles %}
{% load static %}
<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>

    {% block meta %}
    <meta charset="utf-8">
    <!-- <meta name="keywords" itemprop="keywords" content="manufacturing, factories, assembly, automation, 3d printing" ng-attr-content="{{meta.keywords}}"> -->
    <meta name="description" content="TechEleza is your premier source for latest Discussions of Tech products in Africa,  Discussions for mobile phones in Africa, laptops in Africa, tablets in Africa and more.">
    <link rel="canonical" href="https://www.techeleza.com/social/">
    <link rel="shortcut icon" href="{% static 'images/favicon.png' %}" type="image/x-icon" sizes="16x16 24x24 32x32 64x64">
    <meta property="og:locale" content="en_US">
    <meta property="og:type" content="website">
    <meta property="og:title" content="Technology product discussions in Africa, smartphones discussions &amp; Mobile Phone discussions |  TechEleza">
    <meta property="og:description" content="TechEleza is your home for Africa technology discussions,  product discussions , mobile app discussions and smartphones discussions.">
    <meta property="og:url" content="https://www.techeleza.com/social/">
    <meta property="og:site_name" content="TechEleza">
    <meta property="og:image" content="">
    <meta property="og:image:secure_url" content="">
    {% endblock %}

    {% block title %}
    <title>Discussions Forums</title>
    {% endblock %}

    {% block styles %}
    {% bootstrap_css %}
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'css/navbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/social.css' %}">
    {% endblock %}
  </head>
  <body>

    {% if  user.is_authenticated %}
    <div style="z-index: 1;" class="icon-bar-article">
      <a href="{% url 'newarticle' %}" class="twitter"> <button class="btn btn-sm btn-info" name="button">Start new topic</button> </a>
    </div>
    {% endif %}

    {% block content %}

    <br><br><br><br>

    {% if  user.is_authenticated %}
    <div class=""></div>
    {% else %}
    <div class="alert">
      <span class="closebtn" onclick="this.parentElement.style.display='none';">&times;</span>
      <h4>Please <a href="/accounts/login/?next=/accounts/login"><strong>Sign in/Sign Up</strong></a>  to discuss any Tech issue or ask a Tech question with fellow Tech Enthusiasts from all across Africa. </h4>
    </div>
    {% endif %}

    <div class="container">

      <!-- Social media -->
      <div class="container">
        <div class="row">
          <br>
          <a href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
          <a href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
          <a href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
          <a href="#" class="fa fa-youtube"></a>
        </div>
      </div>
      <!-- Social media end -->

      <div class="container-fluid">
        <h2>Forums</h2>
        <div class="row">
          <div class="panel panel-info">
            <div class="panel-heading">
              <h2>General Topics</h2>
            </div>
            <div class="panel-body">
              <div class="row row-a">
                <a class="panelsuccesscolor" href="{% url 'generaldiscussion' %}">
                <div class="col-sm-8">
                  <h4>General Discussion</h4>
                  <p>Talk about general tech topics which might not be icluded in the other forums</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{general_discussion_articles.count}} Post{{general_discussion_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in general_discussion_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>
              <div class="row row-b">
                <a class="panelsuccesscolor" href="{% url 'technews' %}">
                <div class="col-sm-8">
                  <h4>Tech News</h4>
                  <p>Talk about latest and trending tech news in the community</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{tech_news_articles.count}} Post{{tech_news_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in tech_news_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-a">
                <a class="panelsuccesscolor" href="{% url 'techtips' %}">
                <div class="col-sm-8">
                  <h4>Tech Tips</h4>
                  <p>Share your technology tips with others in the community.</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{tech_tips_articles.count}} Post{{tech_tips_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in tech_tips_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-b">
                <a class="panelsuccesscolor" href="{% url 'offtopic' %}">
                <div class="col-sm-8">
                  <h4>Off Topic</h4>
                  <p>Any topic which is not technology related goes here e.g welcoming a new member.</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{off_topic_articles.count}} Post{{off_topic_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in off_topic_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>

          <br>
      <div class="container-fluid">
        <div class="row">
          <div class="panel panel-success">
            <div class="panel-heading">
              <h2>Consumer Electronics</h2>
            </div>
            <div class="panel-body">
              <div class="row row-c">
                <a class="panelsuccesscolor" href="{% url 'smartphonestablets' %}">
                <div class="col-sm-8">
                  <h4>SmartPhones and Tablets</h4>
                  <p>Contribute to topics about SmartPhones and tablets</p><br>
                </div>
              <!-- </a> -->
                <div class="col-sm-4">
                  <h4>{{smartphones_tablets_articles.count}} Post{{smartphones_tablets_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in smartphones_tablets_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-d">
                <a class="panelsuccesscolor" href="{% url 'laptopsforum' %}">
                <div class="col-sm-8">
                  <h4>Laptops</h4>
                  <p>Contribute to topics about laptops</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{laptops_forum_articles.count}} Post{{laptops_forum_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in laptops_forum_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-c">
                <a class="panelsuccesscolor" href="{% url 'photographyvideography' %}">
                <div class="col-sm-8">
                  <h4>Photography and Videography</h4>
                  <p>Contribute to topics about photographs and videos</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{photography_videography_articles.count}} Post{{photography_videography_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in photography_videography_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-d">
                <a class="panelsuccesscolor" href="{% url 'televisionsforum' %}">
                <div class="col-sm-8">
                  <h4>Televisions</h4>
                  <p>Talk about Televisions and discuss with the communities</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{televisions_forum_articles.count}} Post{{televisions_forum_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in televisions_forum_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-c">
                <a class="panelsuccesscolor" href="{% url 'soundsystem' %}">
                <div class="col-sm-8">
                  <h4>Sound System</h4>
                  <p>Contribute and talk on topics about sound systems with the community</p><br>
                </div>
                </a>
                <div class="col-sm-4">
                  <h4>{{sound_system_articles.count}} Post{{sound_system_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in sound_system_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-d">
                <a class="panelsuccesscolor" href="{% url 'carsforum' %}">
                <div class="col-sm-8">
                  <h4>Cars</h4>
                  <p>Contribute and talk about Cars with the community</p><br>
                </div>
                </a>
                <div class="col-sm-4">
                    <h4>{{car_articles.count}} Post{{car_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in latest_car_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>


                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
          <br>

      <div class="container-fluid">
        <div class="row">
          <div class="panel panel-danger">
            <div class="panel-heading">
              <h2>Software</h2>
            </div>
            <div class="panel-body">

              <div class="row row-e">
                <a class="panelsuccesscolor" href="{% url 'programmesforum' %}">
                <div class="col-sm-8">
                  <h4>Programmes</h4>
                  <p>Discuss about topics of programmes with the community</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{programmes_forum_articles.count}} Post{{programmes_forum_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in programmes_forum_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-f">
                <a class="panelsuccesscolor" href="{% url 'appswebsites' %}">
                <div class="col-sm-8">
                  <h4>Apps and Websites</h4>
                  <p>Discuss about various applications and websites with the community</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{apps_websites_articles.count}} Post{{apps_websites_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in apps_websites_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

              <div class="row row-e">
                <a class="panelsuccesscolor" href="{% url 'operatingsystems' %}">
                <div class="col-sm-8">
                  <h4>Operating Systems</h4>
                  <p>Discuss abot topics on Operating Systems with the communiity.</p><br>
                </div>
              </a>
                <div class="col-sm-4">
                  <h4>{{operating_systems_articles.count}} Post{{operating_systems_articles|pluralize}}</h4>
                  <div class="row">
                    <div class="col-xs-8">
                      {% for article in operating_systems_articles %}
                      <p>Posted {{article.pub_date|timesince}} ago by</p>
                    </div>
                    <div class="col-xs-4">
                      <a href="{% url 'accountsprofilewithpk' pk=article.editor.pk %}">
                        {% avatar article.editor.username 50 class="img-circle img-responsive" id="user_avatar" %}
                      </a>
                      {% endfor %}
                    </div>
                  </div>
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
      </div>
    </div>

    <footer>
      <div class="container-fluid">
        <div class="row"><br>
          <div class="col-sm-1"></div>
          <div class="col-sm-5">
            <br>
            <p style="color: white;"> &copy; Copyright  <a target="_blank" style="color: white; font-weight: bold;" href="https://www.techeleza.com/">TechEleza</a>  2019.  All Rights Reserved. </p>
            <p style="color: white;"><a style="color: white;" href="#">Terms of Use</a></p>
          </div>
          <div class="col-sm-5">
            <h5 style="color: white; text-align: center;">Contact Us</h5>
            <a target="_blank" href="https://www.facebook.com/TechEleza/" class="fa fa-facebook"></a>
            <a target="_blank" href="https://twitter.com/ElezaTech" class="fa fa-twitter"></a>
            <a target="_blank" href="https://www.instagram.com/techeleza/" class="fa fa-instagram"></a>
            <a href="#" class="fa fa-youtube"></a>
          </div>
          <div class="col-sm-1"></div>
        </div> <br>
      </div>
    </footer>
    {% endblock %}

    {% block scripts %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-3.3.1.min.js"></script>
    {% bootstrap_javascript %}
    <script src="{% static 'js/navbar.js' %}"></script>
    <script src="{% static 'js/base.js' %}"></script>
    {% endblock %}

  </body>
</html>
